<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tinycards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="/css/2.4.css" rel="stylesheet"/>
    <link rel="icon" sizes="192x192" href="https://d17u0960v8a9bp.cloudfront.net/192x192.png">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
<!-- nav bar -->
<nav class="navbar navbar-expand row navbar-dark bg-primary py-0 sticky-top" style="height: 60px">
    <div class="container h-100">
        <a class="navbar-brand d-none d-lg-block col col-auto" href="/home/<%= user.username %>">
            <img src="/imgs/tinycard.PNG" alt="LOGO">
        </a>
        <!-- xem lai phan collapse -->
        <div class="collapse navbar-collapse col-auto p-0 h-100">
            <!-- left -->
            <div class="navbar-nav mr-sm-auto ">
                <form method="get" action="/search" class="form-inline d-sm-block d-none position-relative text-light">
                    <i class="fas fa-search position-absolute" style="left: 8px; top: 11px; font-size: larger; color: inherit"></i>
                    <input name="deck" class="form-control py-2 pl-5" style="width: 271px" id="search" type="search" placeholder="SEARCH" aria-label="Search">
                </form>
            </div>
            <!-- right -->
            <ul class="nav h-100">
                <li class="media nav-item clicked justify-content-center align-items-center p-md-0 p-sm-4 p-3">
                    <a class="nav-link" href="/home">
                        <i class="fas fa-home"></i>
                        <span class="d-none d-md-inline">HOME</span>
                    </a>
                </li>
                <li class="media nav-item justify-content-center align-items-center p-sm-4 d-flex d-sm-none p-3">
                    <a class="nav-link" href="#" data-target="#search">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li class="media nav-item justify-content-center align-items-center p-md-0 p-sm-4 p-3">
                    <a class="nav-link" href="/create">
                        <i class="fas fa-plus"></i>
                        <span class="d-none d-md-inline">CREATE</span>
                    </a>
                </li>
                <li class="media nav-item justify-content-center align-items-center p-md-0 p-sm-4 p-3">
                    <a class="nav-link" href="/profile">
                        <i class="far fa-user"></i>
                        <span class="d-none d-md-inline"><%=user.name.toUpperCase()%></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- content -->
<div class="container mt-5" id="learning-content">
    <div class="jumbotron mb-0">
        <!--progress row-->
        <div class="row">
            <div class="pb-5 col-1">
                <button class="ml-5 mb-3 btn btn-light escape-btn p-0" href="#">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="progress mb-5 ml-lg-3 ml-5 mt-3 col-lg-10 col-sm-9 col-7 col-md-10 p-0"
                 style="height: 7px">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 0"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <%# remember to check if deck is in learning data or not
            currentData: if the deck is in learningData -> we can use it respectively
            startingCard: if the deck is in learningData
                          we can start by the end of the last lesson we have learned so far
                          or we can start by 0
            idCreasing: increase the id number for multiple choice question (question 1, question 3)
            cardRows: class used for row of cards in multiple choice question (question 1)%>
        <% var currrentData, startingCard, idIncreasing = 0, cardsRow = 0; %>
        <% for (var i = 0; i < user.learningData.length; i++) if (String(user.learningData[i].deck) === String(deck._id)) currrentData = user.learningData[i]%>
        <% if (currrentData === undefined) startingCard = 0; else { %>
        <% for (j = 0; j < currrentData.progress.length; j++) { %>
        <% if (currrentData.progress[j].correct === 2) { %>
        <% for (i = 0; i < deck.cards.length; i++) if (String(deck.cards[i]._id) === currrentData.progress[j].cardId && deck.cards[i].front === currrentData.progress[j].front && deck.cards.length >= 3) { %>
        <%    deck.cards.splice(i, 1); i--; currrentData.progress.splice(j, 1); j--; break; }%>
        <% } %>
        <% } %>
        <% startingCard = 0;} %>
        <%# render data %>
        <% for (i = startingCard; i < startingCard + 3; i++) { %>
        <% if (deck.cards[i] && deck.cards[startingCard + 1]) { %>
        <%# learning cards %>
        <div class="learning d-none">
            <div class="text-uppercase text-warning text-center mb-4">
                <h5>Review card</h5>
            </div>
            <div class="m-auto card-container manual-flip" style="height: 295px; width: 263px">
                <div class="card h-100">
                    <div class="front h-100 w-100">
                        <!-- check if front face is image or text -->
                        <% if (deck.cards[i].front.includes("http")) { %>
                        <img class="card-img-top h-100" alt="<%= deck.cards[i].back[0] %>"
                             src="<%= deck.cards[i].front %>" id="<%= deck.cards[i]._id %>">
                        <% } else { %>
                        <div class="card-img-top media h-100 h4 text-muted align-items-center justify-content-center text-center"
                             id="<%= deck.cards[i]._id %>">
                            <%= deck.cards[i].front %>
                        </div>
                        <% } %>
                    </div>
                    <div class="h-100 back card-body p-1 position-relative">
                        <button class="btn btn-light d-flex ml-auto p-0 position-absolute sound-btn"
                                style="color: #32cdff; right: 5px">
                            <i class="fas fa-volume-up"></i>
                        </button>
                        <% for (var j = 0; j < deck.cards[i].back.length; j++) { %>
                        <div class="media h4 text-muted align-items-center justify-content-center m-0 text-center"
                             style="height: <%= (100 - deck.cards[i].back.length) / deck.cards[i].back.length  %>%;">
                            <%= deck.cards[i].back[j] %>
                        </div>
                        <% if (j !== deck.cards[i].back.length - 1) { %>
                        <hr style="margin: 0; height: 1%">
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary d-block mt-3 mx-auto text-uppercase font-weight-bold"
                    style="background: #32cdff; border: none; width: 263px;">
                continue
            </button>
        </div>
        <%# question type 1 - only for image %>
        <% if (deck.cards[i].front.includes("http")) { %>
        <% if (deck.cards[startingCard].front.includes("http") && deck.cards[startingCard + 1].front.includes("http")) { %>
        <% if (deck.cards[startingCard + 2] && deck.cards[startingCard + 2].front.includes("http")) { %>
        <% var position = Math.floor(Math.random() * (startingCard + 3)) %>
        <% var cards = [startingCard, startingCard + 1, startingCard + 2] } else { %>
        <% position = Math.floor(Math.random() * (startingCard + 2)) %>
        <% cards = [startingCard, startingCard + 1] %>
        <% } %>
        <div class="row d-none question-1">
            <div class="col-lg-4 col-xl-3 m-auto m-lg-0 ml-lg-5 text-center" style="height: 275px; width: 263px;">
                <div class="card-body h-100 p-1 position-relative" >
                    <button class="btn btn-light d-flex ml-auto p-0 position-absolute sound-btn"
                            style="color: #32cdff; right: 5px">
                        <i class="fas fa-volume-up"></i>
                    </button>
                    <h4 class="h-100 align-items-center card-title text-muted justify-content-center media" id="<%= deck.cards[i]._id %>" >
                        <%= deck.cards[i].back[0] %></h4>
                </div>
            </div>
            <% for (j = 0; j < cards.length; j++) { %>
            <div class="col-4 col-md-3 col-lg-2 p-0 r-<%= cardsRow %>">
                <div class="multipleChoice mt-5" style="height: 75%;">
                    <img class="card-img-top h-100" alt="<%= deck.cards[cards[position]].back[0] %>" id="n-<%= idIncreasing++ %>"
                         src="<%= deck.cards[cards[position]].front %>" about="<%= deck.cards[i].front %>">
                    <% cards.splice(position, 1); position = Math.floor(Math.random() * (startingCard + cards.length)); j-- %>
                </div>
            </div>
            <% } cardsRow++; %>
        </div>
        <% } %>
        <% } %>
        <%# question type 2 - for short text %>
        <% if (deck.cards[i].back[0].split(" ").length < 4) { %>
        <div class="row d-none question-2">
            <div class="m-auto m-lg-0 ml-lg-5 col-xl-3 col-lg-4 text-center" style="height: 275px; width: 263px;">
                <% if (deck.cards[i].front.includes("http")) { %>
                <img class="card-img-top h-100"
                     src="<%= deck.cards[i].front %>" alt="<%= deck.cards[i].back[0] %>" id="<%= deck.cards[i]._id %>"/>
                <% } else { %>
                <div class="h4 card-img-top h-100 align-items-center card-title text-muted justify-content-center media"
                     about="<%= deck.cards[i].back[0] %>" id="<%= deck.cards[i]._id %>">
                    <%= deck.cards[i].front %></div>
                <% } %>
            </div>
            <div class="m-auto m-lg-0 col-xl-8 col-lg-7">
                <input type="text" class="ml-lg-3 pb-2" name="name" placeholder="Enter the answer"/>
            </div>
        </div>
        <% } %>
        <%# question type 3 %>
        <% if ((!deck.cards[startingCard].front.includes("http") && !deck.cards[startingCard + 1].front.includes("http")) || deck.cards[i].back[0].split(" ").length > 3) { %>
        <% if (deck.cards[startingCard + 2]) { %>
        <% position = Math.floor(Math.random() * (startingCard + 3)) %>
        <% cards = [startingCard, startingCard + 1, startingCard + 2] } else { %>
        <% position = Math.floor(Math.random() * (startingCard + 2)) %>
        <% cards = [startingCard, startingCard + 1] %>
        <% } %>
        <div class="row d-none question-3">
            <div class="m-auto col-lg-3 text-center" style="height: 275px; width: 263px">
                <% if (deck.cards[i].front.includes("http")) { %>
                <img class="card-img-top h-100"
                     src="<%= deck.cards[i].front %>" alt="<%= deck.cards[i].back[0] %>" id="<%= deck.cards[i]._id %>"/>
                <% } else { %>
                <div class="h4 card-img-top h-100 align-items-center card-title text-muted justify-content-center media"
                     about="<%= deck.cards[i].back[0] %>" id="<%= deck.cards[i]._id %>">
                    <%= deck.cards[i].front %></div>
                <% } %>
            </div>
            <div class="col-lg-8 mt-2">
                <% for (j = 0; j < cards.length; j++) { %>
                <button class="mx-auto btn btn-outline-primary multipleChoice-2 btn-block font-weight-bold p-0" id="<%= idIncreasing++ %>">
                    <%= deck.cards[cards[position]].back[0] %>
                    <% cards.splice(position, 1); position = Math.floor(Math.random() * (startingCard + cards.length)); j-- %>
                </button>
                <% } %>
            </div>
        </div>
        <% } %>
        <% } %>
        <% } %>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script>
    /* update current correctness in database for cards */
    var correctTime = [];
    <% if (currrentData) { %>
    <% for (i = 0; i < currrentData.progress.length; i++) { %>
    correctTime.push(<%=currrentData.progress[i].correct%>);
    <% } %>
    <% } %>
    while (correctTime.length < $(".front").length) correctTime.push(0);
</script>
<script src="/js/2.4.js"></script>
<script src="/js/2.4.1.js"></script>
<script>
    var key = setInterval(function () {
        var cards = [];
        if (finished) {
            checkCorrectness.forEach(function (value, key) {
                if (value[1] < 0) value[1] = 0;
                else if (value[1] > 2) value[1] = 2;
                cards.push({
                    name: key,
                    value: [value[0], value[1]]
                })
            })
            $.post("/learn/<%=String(deck._id)%>", cards, "json")
            window.location.href = "/";
            clearInterval(key);
        }
    }, 1000)
</script>
</body>
</html>