<!DOCTYPE html>
<html>

<head>
    <title>Tinycards - Flashcards by Duolingo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="icon" sizes="192x192" href="https://d17u0960v8a9bp.cloudfront.net/192x192.png">
    <link rel="stylesheet" type="text/css" href="/css/2.css">
</head>
<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand row navbar-dark bg-primary py-0 sticky-top">
        <div class="container">
            <a class="navbar-brand d-none d-lg-block col col-auto" href="/user/<%= user.username %>">
                <img src="/imgs/tinycard.PNG" alt="LOGO">
            </a>
            <!-- xem lai phan collapse -->
            <div class="collapse navbar-collapse col col-auto">
                <!-- left -->
                <div class="navbar-nav mr-sm-auto col-sm-auto col col-auto">
                    <form class="form-inline d-sm-block d-none position-relative text-light">
                        <i class="fas fa-search position-absolute" style="left: 8px; top: 11px; font-size: larger; color: inherit"></i>
                        <input class="form-control py-2 pl-5" type="search" placeholder="SEARCH" aria-label="Search">
                    </form>
                </div>
                <!-- right -->
                <ul class="nav col-auto col">
                    <li class="nav-item my-0 py-3 order-2 d-block d-sm-none col col-auto">
                        <a class="nav-link" href="#">
                            <i class="fas fa-search"></i>
                            <span class="d-none d-lg-inline">HOME</span>
                        </a>
                    </li>
                    <li class="nav-item clicked my-0 py-3 order-2 col col-auto">
                        <a class="nav-link" href="#">
                            <i class="fas fa-home"></i>
                            <span class="d-none d-lg-inline">HOME</span>
                        </a>
                    </li>
                    <li class="nav-item order-3 py-3 px-2 col col-auto">
                        <a class="nav-link" href="2.3.html">
                            <i class="fas fa-plus"></i>
                            <span class="d-none d-lg-inline">CREATE</span>
                        </a>
                    </li>
                    <li class="nav-item order-4 py-3 px-2 col col-auto">
                        <a class="nav-link" href="2.2.html">
                            <i class="far fa-user"></i>
                            <span class="d-none d-lg-inline"><%=user.username.toUpperCase()%></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- content -->
    <div class="container mt-lg-5" id="body">
        <div class="jumbotron p-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="2.4.html">
                            <div class="row" style="background-color: rgb(149, 21, 42);">
                                <div class="col-sm-11 col-md-4 col-lg-6 offset-sm-1 cap ">
                                    <h1>US state abbreviations</h1>
                                    <p class="author">by Crystal Yoon</p>
                                </div>
                                <div class="col-sm-10 offset-2 col-md-5 offset-md-2 col-lg-4 offset-lg-1 p-4">
                                    <div class="card">
                                        <img class="card-img-top" src="http://d9np3dj86nsu2.cloudfront.net/image/ac487eecf9b558b778663710d38b7035" alt="Card image cap">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="2.4.html">
                            <div class="row" style="background-color: rgb(177, 118, 137);">
                                <div class="col-sm-11 col-md-4 col-lg-6 offset-sm-1 cap ">
                                    <h1>Frog Anatomy </h1>
                                    <p class="author">by TinyScience</p>
                                </div>
                                <div class="col-sm-10 offset-2 col-md-5 offset-md-2 col-lg-4 offset-lg-1 p-4">
                                    <div class="card">
                                        <img class="card-img-top" src="http://d9np3dj86nsu2.cloudfront.net/image/e6a591df72c7f2686d4a5561260c5c03" alt="Card image cap">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="2.4.html">
                            <div class="row" style="background-color: rgb(102, 116, 131);">
                                <div class="col-sm-11 col-md-4 col-lg-6 offset-sm-1 cap ">
                                    <h1>Chemistry colours</h1>
                                    <p class="author">by Justin Schmidt</p>
                                </div>
                                <div class="col-sm-10 offset-2 col-md-5 offset-md-2 col-lg-4 offset-lg-1 p-4">
                                    <div class="card">
                                        <img class="card-img-top" src="http://d9np3dj86nsu2.cloudfront.net/image/aba40980cfa910b14a6933b552f321cc" alt="Card image cap">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev d-none d-lg-flex" style="width: 5%" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon d-lg-block d-none" aria-hidden="true"></span>
                    <!--<span class="sr-only">Previous</span>-->
                </a>
                <a class="carousel-control-next d-none d-lg-flex" style="width: 5%" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon d-lg-block d-none" aria-hidden="true"></span>
                    <!--<span class="sr-only">Next</span>-->
                </a>
            </div>
            <!-- next row -->
            <div class="row">
                <h4 class="col-8 col-md-10 col-lg-10 pt-4 pl-5">Your favorites</h4>
                <a href="" class="offset-1 col-3 offset-md-0 col-md-2 col-lg-2 pl-lg-5 pt-4">SEE ALL</a>
            </div>
            <!-- next row -->
            <div class="row pt-4">
                <div class="card col-lg-2 col-md-3 col-sm-4 col-5 offset-1 content-card">
                    <a href="2.4.html">
                        <img class="card-img-top" src="https://d9np3dj86nsu2.cloudfront.net/image/628ff718bee6982c46bf73b63c9c063e" alt="Card image cap">
                    </a>
                    <div class="card-body p-0 pt-3">
                        <div class="progress" style="height: 7px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <a href="" class="card-title">Body parts</a>
                        <br>
                        <a href="" class="card-info">
                            <i class="far fa-star"></i> 2K
                            &nbsp &nbsp
                            <i class="far fa-square"></i> 33
                        </a>
                    </div>
                </div>
            </div>
            <!-- next row -->
            <hr />
            <div class="row">
                <h4 class="col-8 col-md-10 col-lg-10 pt-4 pl-5">Trending</h4>
                <a href="" class="offset-1 col-3 offset-md-0 col-md-2 col-lg-2 pl-lg-5 pt-4">SEE ALL</a>
            </div>
            <div id="carousel-1" class="carousel slide px-5 pb-5" data-ride="carousel">
                <div class="carousel-inner" id="second-carousel">
                    <% var trendingDecks = [] %>
                    <% for (var i = 0; i < decks.length; i++) { if(decks[i].favourites > 1000) trendingDecks.push(decks[i])} %>
                    <% for (i = 0; i < trendingDecks.length; i += 6) { %>
                    <div class="carousel-item">
                        <div class="row pt-4" style="height: 300px">
                            <% for (var j = 0; j < 6; j++) { %>
                            <% if (trendingDecks[i + j]) { %> <%# can be deleted %>
                            <div class="card col-lg-2 col-md-3 col-4">
                                <a href="" style="height: 176px">
                                    <img class="card-img-top h-100"
                                         src="<%= trendingDecks[i + j].themeImage %>"
                                         alt="<%= trendingDecks[i + j].name %>">
                                </a>
                                <div class="card-body p-0 mt-4">
                                    <a href="" class="card-title"><%= trendingDecks[i + j].name %></a>
                                    <br>
                                    <a href="" class="card-info">
                                        <i class="far fa-star"></i> <%= trendingDecks[i + j].favourites %></a>
                                </div>
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!-- arrow -->
                <a class="carousel-control-prev pl-5" style="width: 1%" href="#carousel-1" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left mr-5"></i>
                </a>
                <a class="carousel-control-next pr-5" style="width: 1%" href="#carousel-1" role="button" data-slide="next">
                    <i class="fas fa-chevron-right ml-5"></i>
                </a>
            </div>
        </div>
        <footer class="mb-3 mt-5 pt-3">
            <a href="/press" class="m-4">ABOUT</a>
            <a href="" class="m-4">SUPPORT</a>
            <a href="" class="m-4">TERMS</a>
            <a href="" class="m-4">DUOLINGO</a>
            <a href="" class="m-4">FACEBOOK</a>
            <a href="" class="m-4">TWITTER</a>
            <a href="" class="m-4" id="language">
                <img src="/imgs/english.png"> ENGLISH
            </a>
        </footer>
    </div>

    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/2.js"></script>
</body>
</html>
